@media screen and (max-width: 991px) {
  .main-container-table {
    .table-grid {
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 0.5rem;
      padding-left: 0.5rem;
      &:first-of-type {
        display: none;
      }

      &:nth-of-type(2n) {
        background-color: #f8f8f8;
      }

      &:nth-of-type(2n + 1) {
        background-color: #eeeeee;
      }

      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0.5rem 0;
        align-items: center;
        &::before {
          content: attr(text-responsive);
        }

        &:last-of-type {
          position: absolute;
          top: 5px;
          width: 0;
          right: 32px;
        }
      }
    }
  }
}

@media screen and(min-width: 992px) {
  .main-container-table {
    .table-grid {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      padding: 0.5rem;

      &:first-of-type {
        background-color: #cca353 !important;
        color: #ffffff;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding: 1.2rem;
      }
      &:last-of-type {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &:nth-of-type(2n + 1) {
        background-color: #f2f2f2;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.main-container-table {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
.icons-table {
  display: flex;
  flex-direction: column;
}
svg {
  cursor: pointer;
  margin-bottom: 0.5rem;
}
